.App {
  text-align: center;
}

.Tape{
  width: 30%;
  background-color: black;
}

.App-header {
  background-color: #222;
  min-height: 20vh;
  width: 100vw;
  padding: 20px;
  color: white;
}

#background-video {
  /* height: 100vh; */
  
  
  
  z-index: -100;
}

.App-nav-list {
  list-style-type: none;
  display: flex;
  justify-content: space-around;  
  padding: 2px;
  margin: 1px;
  }

.App-tagline {
  margin: 1px;
  padding: 2px;
  display: flex;
  justify-content: center;
  align-items: baseline;
  font-size: 4vh;
}

.App-rage{
  color: red;
}

.App-social-links{
  display: flex;
  justify-content: space-evenly;
}


.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
