.App {
  text-align: center;
}

.Tape{
  width: 30%;
  background-color: black;
}

.App-header{
  height:30%;
  background-image: url("./fanpage_images/star.gif");
  background-repeat: no-repeat;
  background-position: center;  
  background-size: 100%;
  background-color: #222;
  width: 100vw;
  padding: 5px;
  color: white;
}

/* .App-header-video{
 z-index: -100;
 height: 45vw;
} */

.App-nav-list {
  list-style-type: none;
  display: flex;
  justify-content: space-around;  
  padding: 2px;
  margin: 1px;
  }

.App-tagline {
  margin: 1px;
  padding: 2px;
  display: flex;
  justify-content: center;
  align-items: baseline;
  font-size: 4vh;
}

.App-rage{
  color: red;
}

.App-social-links{
  display: flex;
  justify-content: space-evenly;
}


.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.App-main-container{
  height: 75vh;
}

body{
  background-image: url(https://lh3.googleusercontent.com/Fai9NxZ5igodPyoxxEbqa0OGYP_regAv5CwWfJvYgujOXHe-No8Gf4SUdC0VzbSI1SPHAX_3jiAiXp8koRpZ7DXI4Iu5wWRhLOOUY9m_8bvBeL-TDp5QQzLr0n6KwYETMOxBb6MAw6Ki9mkibzBcuKemLeM8hmzRDv_4UzBLiia8L_DMIVQAsyDAwuhI55WPX_K7UI8cve8PboSJSBdIAH9PuEk1AcnDce2IB67ZYaNsmHW4gjTDCV0ZvOCskkeBHai3dwHlSko8bwIyh3yqx3nzBuB-2mzKgYnojhOXDQyQPqm8iSt7NFSnQyzddSl6f6wJPKSje5giHfMEJQcVnekkRc226QbmPFCGkZzplnUxyYnTtauDXjeiW6bv0xtIvQtFTSR2eLR7-8iWK1qXXbhXHWP-CRg4mP0w28Vl9-KNw1rWTt0Pde7rguPORuSKd9mZfUkIyCK2sPk65ce-ORS2AYurhiYw7VTV5frtublhr97x4g6uM35vMyh-BcoGn3AmwwJTZvapV6oxVhBZvFpiCAte6FzGKm4dO5S9v3-e0gtQ2psuEwx55VHZAXtQUHh8jHrtGaZkzjSR_GwrXwqAx8fdNMDu_6Sd08vfVDW457PuioWqniwy24G5Ay2HB86xCkI6-Awey4aV5GNjegOrYA=w1680-h817-no);

  background-color: mediumblue;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: 15vh;
  height: 400px;
  position: relative;
  color: orange;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
